html,
body {
  margin: 0;
  height: 100%;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 0px auto;
  padding: 50px;
  border-radius: 20px;
  // backdrop-filter: blur(2px);
  position: relative;
  .slide {
    position: absolute;
    height: 172px;
    width: calc(100% / 3 - 15 * 2px);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 228, 230, 0.2),
      rgba(0, 0, 0, 0)
    );
    animation: 1.5s linear 2s infinite running slidein;
    z-index: 2;
  }
  @keyframes slidein {
    from {
      margin-left: 0%;
    }

    to {
      margin-left: 55%;
    }
  }

  .block-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    .block {
      border-radius: 8px;
      padding: 10px;
      width: calc(100% / 3 - 15 * 2px);
      background: rgb(255 255 255 / 0.05);
      border-radius: 1rem;
      overflow: hidden;

      .head {
        border-radius: 6px;
        background: rgb(255 228 230 / 0.1);
        height: 80px;
        margin-bottom: 20px;
        border-radius: 0.5rem;
      }
      .item {
        height: 4px;
        border-radius: 0.5rem;
        background: #fff;
        margin-bottom: 8px;
        height: 0.75rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .item-1 {
        width: 80%;
        background: rgb(255 228 230 / 0.2);
      }
      .item-2 {
        width: 60%;
        background: rgb(255 228 230 / 0.1);
      }
      .item-3 {
        width: 40%;
        background: rgb(255 228 230 / 0.2);
      }
    }
  }
}
